@import '../../../../../themes/ucgy_theme/resources/scss/core';

/*
// Global Accordion Brick
*/

.brick.accordion {

  .header {
    h3 {
      color: $maroon;
    }
  }

  .panel-heading {
    background-color: $lightWarmGrey;
    border-radius: 0;

    h4 a {
      color: $white;
      font-weight: bold;
      display: inline-block;
      width: 100%;
    }

    &.active {
      background-color: $ucRed;
    }

    .panel-title a i.glyphicon {
      float: right;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .panel-body {
    margin: 0;
    padding: 0;

    h4 {
      font-weight: bold;
    }

    .checklist-header {
      padding: 15px 0 15px 0;
    }
  }

 .panel-default {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .btn-wrapper {
    margin: 30px 0 30px 0;
  }

  ol.checklist {
    display: inline-block;
    width: 100%;
    counter-reset: checklist;
    padding-left: 0;

    &>li {
      display: inline-block;
      vertical-align: top;
      border-right: 2px dotted $ucRed;
      margin-bottom: 30px;
      padding: 0 25px 0 25px;
      clear: left;

      &::before {
        display: block;
        counter-increment: checklist 1;
        content: counter(checklist);
        font-size: 36pt;
        color: $ucRed;
        line-height: 1em;
        font-weight: bold;
        margin-top: 0;
      }

      ul>li {
        list-style-type: disc;
      }

      p {
        &.title {
          font-weight: bold;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &>li:first-child {
      padding: 0 25px 0 0;
    }

    &>li:last-child {
      border-right: none;
    }

    &>li.no-counter {
      vertical-align: top;
      &::before {
        content: none;
      }
      p.title {
        color: $darkOrange;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    ol.checklist {
      &>li {
        display: inline-block;
        width: 48%;
        ul li {
          width: 100%;
        }
      }

      &>li:nth-child(even) {
        border-right: none;
      }

      &>li:nth-child(odd) {
        clear: left;
        padding: 0 25px 0 0;
      }

      &>li:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    ol.checklist {
      &>li {
        display: inline-block;
        width: 100%;
        margin-bottom: 25px;
        border-right: none;
        border-bottom: 2px dotted $ucRed;
        clear: left;
        ul li {
          width: 100%;
        }
      }
      &>li:nth-child(even),
      &>li:nth-child(odd) {
        padding: 0 0 25px 0;
      }
      &>li:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (min-width: 480px) {

  }

  @media only screen and (min-width: 768px) {

  }

/* DEV NOTE:
   The number of items in an ol.checklist needs to be calculated and the following styles applied:

   1 or 2 <ol class="checklist min-items">
   3      <ol class="checklist three-items">
   4      <ol class="checklist four-itmes">
   5+     <ol class="checklist max-items">
*/
  @media only screen and (min-width: 992px) {
    ol.checklist {
      &.max-items>li {
        width: 19%;
      }
      &.four-items>li {
        width: 24%;
      }
      &.three-items>li {
        width: 32%;
      }
      &.min-items>li {
        width: 49%;
      }

      &>li:nth-child(5n) {
        border-right: none;
      }

      &>li:nth-child(5n+1) {
        clear: left;
        padding: 0 25px 0 0;
      }
    }
  }

  @media only screen and (min-width: 1200px) {

  }
}